<p style="color: green"><%= notice %></p>

<h1>Mining types</h1>

<table>
  <thead>
    <tr>
      <th >Name</th>
      <th >Acronym</th>
      <th colspan="3"></th>
    </tr>  
  </thead>
    <tbody id="mining_types"> 
    <% @mining_types.each do |mining_type| %>
    <tr>
      <td> <%= mining_type.name %> </td>
      <td> <%= mining_type.acronym %> </td>
      <td> <%= link_to 'Show', mining_type %> </td>
      <td> <%= link_to 'Edit', edit_coin_path(mining_type) %> </td>
      <td><%= link_to t('links.destroy'), mining_type, method: :delete, data: { confirm: t('messages.confirm') } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New mining type", new_mining_type_path %>
